body{
    font-family: Poppins;
}

.navigation{
    text-align: center;
    color: black;
    background-color: #b898ab;
    font-size: x-large;
    display: flex;
    justify-content: space-between;
    padding-right: 2px;
    padding: 5px;
    align-items: center;
    padding-bottom: 15px;
    padding-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
}
.presentation{
    background-color: #C0C0C0;
    display: flex;
    font-size: larger;
    padding-bottom: 80px;
    padding-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
}
.phrase{
    align-items: center;
    margin-left: 100px;
}
.boutton{
    padding: 12px 24px;
    background-color: rgb(15, 176, 88);
    color: white;
    border: 0px;
    border-radius: 12px;
   }

   .button{
    padding: 12px 24px;
    background-color: rgb(19, 18, 18);
    border: 0px;
    border-radius: 12px;
    color: white;
   }
.disc{
    margin-right: 70px;
    border-radius: 10PX;
}

.moi{
    margin-left: 100px;
    background-color: rgb(45, 51, 66);
    color: white;
    padding-bottom: 80px;
    padding-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
}

.image{
    padding: 5px 10px;
    margin-top: 50px;
    margin-right: 70px;
    margin-bottom: 50px;
    margin-left: 400px;
    height: 200px;
    justify-content: space-between;
}
.propos, .service, .réalisation, .competence, .blog{
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 40px;

}
#name{
    color: blueviolet;
}

.créative{
    padding: 12px 24px;
    font-weight: bol;
    border-radius: 100%;
    font-size: large;
    background-color: rgb(53, 66, 77);
    color: rgb(214, 189, 76);

}
.projet{
    text-align: center;
    display: flex;
    justify-content: space-around;
    
}
.services{
    text-align: center;
    justify-content: center;
    margin-left: 100px;
    padding-bottom: 80px;
    padding-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    font-size: large;
}
.icone{
    display: flex;
    justify-content: space-around;
    color: blueviolet;
}